
.icon-ytmusic:before { content: '\e800'; } /* '' */
.icon-cancel-1:before { content: '\e801'; } /* '' */
.icon-messenger:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-deezer:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */